<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qinwh.reply.mapper.ReplyinfoMapper">
  <resultMap id="BaseResultMap" type="cn.qinwh.reply.pojo.Replyinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="ppt" jdbcType="VARCHAR" property="ppt" />
    <result column="thesis" jdbcType="VARCHAR" property="thesis" />
    <result column="other_file" jdbcType="VARCHAR" property="otherFile" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="speech" jdbcType="VARCHAR" property="speech" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="score_id" jdbcType="INTEGER" property="scoreId" />
    <result column="score_status" jdbcType="INTEGER" property="scoreStatus" />
    <result column="speech_status" jdbcType="INTEGER" property="speechStatus" />
  </resultMap>
</mapper>