<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qinwh.reply.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.qinwh.reply.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

  <insert id="insertUser" parameterType="cn.qinwh.reply.pojo.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into user (username, password, name, mobile_phone, role_id, number, type) values (
    #{username},
    #{password},
    #{name},
    #{mobilePhone},
    #{roleId},
    #{number},
    #{type}
    )
  </insert>
</mapper>